<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <form class="row searchBox mt-4 mb-4 p-3">
    <div class="form-group col-lg-6">
      <label class="control-label" for="email">Where are you going?</label>
      <input type="text" class="form-control location" id="location" [(ngModel)]="hotelFilter.location" [ngModelOptions]="{standalone: true}" placeholder="Type to filter by location">
    </div>
    <div class="col-sm-12 col-lg-6">
      <div class="row">
        <div class="form-group col-sm-12 col-lg-4">
          <label class="control-label" for="checkInDate">Check in</label>
          <input type="date" class="form-control date" id="checkInDate">
        </div>
        <div class="form-group col-sm-12 col-lg-4">
          <label class="control-label" for="checkOutDate">Check out</label>
          <input type="date" class="form-control date" id="checkOutDate">
        </div>
        <div class="form-group col-sm-12 col-lg-4 guestSelection">
          <label class="control-label col-12 nopadding" for="guest">Guest</label>
          <ul class="guestSelectionCount">
            <li id="1">1</li>
            <li class="selected" id="2">2</li>
            <li id="3">3</li>
            <li id="4">3+</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row col-12">
      <div class="form-group col-lg-offset col-sm-12 col-lg-2">
        <button type="submit" class="btn btn-default">Search for Hotels</button>
      </div>
    </div>
  </form>
  <div class="row searchResultItem shadow-sm" *ngFor="let hotel of hotelList | filterBy: hotelFilter">
      <div class="col-sm-12 col-md-3 col-lg-3 image-box">
         
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 hotelInfo">
          <ul class="rating">
            <li class="star" id="star1">&nbsp;</li>
            <li class="star" id="star2">&nbsp;</li>
            <li class="star" id="star3">&nbsp;</li>
            <li class="star" id="star4">&nbsp;</li>
            <li class="star" id="star5">&nbsp;</li>
          </ul>
          <h1 class="hotelName">
            {{hotel.name}}
          </h1>
          <h6 class="locationDetails">
            {{hotel.detailAddress}}
          </h6>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 priceInfo">
         <p class="priceInfoSmallText">from</p>
         <p>
           <span class="priceText">
             <span>
              {{hotel.currency}}
             </span>
             <span>
              {{hotel.price}}
             </span>
           </span>
           <span class="priceInfoSmallText">
              / night
           </span>
          </p> 
          <p class="priceInfoSmallText">
              <span>
                  Total: 
              </span>
              <span>
                {{hotel.currency}}
              </span>
              <span>
                {{hotel.price}}
             </span>
          </p>
          <button type="submit" class="btn btn-default">Show rooms</button>
      </div>
      <div *ngIf="(hotelList | filterBy: hotelFilter).length === 0">
        No matching locations
      </div>
  </div>
</div>

<router-outlet></router-outlet>
