/* You can add global styles to this file, and also import other style files */

.btn-default {
  background: #ff6600;
  color: #FFFFFF;
}

ul, ol, .nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.searchBox{
    background: #f9f9f9;
    border: 1px solid rgb(223, 223, 223);
}
.guestSelectionCount {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 3rem;
  li {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-size: 1rem;
    list-style-type: none;
    border-radius: 50%;
    transition: 0.2s ease all;
    margin-right: 0.4rem;
    cursor: pointer;
    &:nth-last-child() {
      margin-right: 0;
    }
    &.selected {
      background: #ff6600;
      color: #FFF;
    }
  }
}

.searchResultItem {
  padding: 1.2rem;
  margin-bottom: 2rem;
  border: 1px solid rgb(223, 223, 223);
  color: #555555;
}

.image-box{
    background: #CCC;
}

.star,
.yellow_star {
  background: url(../src/assets/images/ystar.svg) no-repeat center center;
  background-size: contain;
  height: 1rem;
  width: 1rem;
  display: inline-block;
  margin: 0 0.1rem;
}

.yellow_star {
  background: url(../src/assets/images/ystar.svg) no-repeat center center;
}
.hotelName{
    font-size: 2rem;
    font-weight: normal;
}
.locationDetails{
    font-size: 1rem;
    font-weight: normal;
}
.priceInfoSmallText{
    font-size: 0.8rem;
}
.priceText{
    font-size: 2rem;
}
